div {
	width: 200px;
	height: 200px;
	border: solid 1px red;
}

/* 일반적으로 absolute를 줄 부모에게 relative를 준다. 
relative가 자기 자신이 기준이기 떄문! 
*/
#parent {
	position: sticky;
	/* top: 100px;
	left: 100px; */
	/* top을 설정해도 동작하지 않아 이해가 안갈 수도 있지만 스크롤을 해보면 알게 된다. */
	/* top, left 100px이 되면 그 위치에 고정된다. */
}
#box {
	width: 100px;
	height: 100px;
	border-color: darkblue;
	border-radius: 30px;
}
#test {
	position: sticky;
	top: 100px;
	left: 100px;
	width: 100px;
	height: 100px;
	border-color: darkblue;
	border-radius: 30px;
}
