.container {
	border: 5px dashed orange;

	display: grid;
	/* 화면이 줄어들거나 늘어날 때 자동으로 채워준다. */
	grid-template-columns: repeat(auto-fill, 100px);
	/* 암시적으로 auto-fill로 새로 row가 생겨도 크기를 똑같이 지정해준다. */
	grid-auto-rows: 50px;
}

.item {
	background-color: paleturquoise;
	border: 3px solid blue;
}

/*

minmax(min, max)

*/
